In [18]:
import pandas as pd

In [19]:
#leer un archivo csv desde web
df_premier21=pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/E0.csv")

In [20]:
print(f"Forma: {df_premier21.shape}")
print("\nTipos de datos:")
print(df_premier21.dtypes)
print("\nPrimeras 5 filas:")
print(df_premier21.head())
print("\nEstadísticas descriptivas:")
print(df_premier21.describe())
print("\nValores nulos por columna:")
print(df_premier21.isnull().sum())
df_premier21.describe()  # Estadísticas de columnas numéricas
df_premier21.describe(include='all')  # Estadísticas de todas las columnas

Forma: (380, 106)

Tipos de datos:
Div          object
Date         object
Time         object
HomeTeam     object
AwayTeam     object
             ...
PCAHA       float64
MaxCAHH     float64
MaxCAHA     float64
AvgCAHH     float64
AvgCAHA     float64
Length: 106, dtype: object

Primeras 5 filas:
  Div        Date   Time    HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  \
0  E0  13/08/2021  20:00   Brentford         Arsenal     2     0   H     1
1  E0  14/08/2021  12:30  Man United           Leeds     5     1   H     1
2  E0  14/08/2021  15:00     Burnley        Brighton     1     2   A     1
3  E0  14/08/2021  15:00     Chelsea  Crystal Palace     3     0   H     2
4  E0  14/08/2021  15:00     Everton     Southampton     3     1   H     0

   HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  MaxCAHH  \
0     0  ...     1.62  0.50      1.75      2.05   1.81   2.13     2.05
1     0  ...     2.25 -1.00      2.05      1.75   2.17   1.77     2.19
2     0  ...     1.62  0.25      1.79      2.15   1.81   2.14     1.82
3     0  ...     1.94 -1.50      2.05      1.75   2.12   1.81     2.16
4     1  ...     1.67 -0.50      2.05      1.88   2.05   1.88     2.08

   MaxCAHA  AvgCAHH  AvgCAHA
0     2.17     1.80     2.09
1     1.93     2.10     1.79
2     2.19     1.79     2.12
3     1.93     2.06     1.82
4     1.90     2.03     1.86

[5 rows x 106 columns]

Estadísticas descriptivas:
             FTHG        FTAG        HTHG        HTAG          HS          AS  \
count  380.000000  380.000000  380.000000  380.000000  380.000000  380.000000
mean     1.513158    1.305263    0.681579    0.589474   13.847368   11.736842
std      1.326545    1.258836    0.832187    0.808853    5.661784    5.348460
min      0.000000    0.000000    0.000000    0.000000    3.000000    1.000000
25%      1.000000    0.000000    0.000000    0.000000    9.000000    8.000000
50%      1.000000    1.000000    0.000000    0.000000   13.500000   11.000000
75%      2.000000    2.000000    1.000000    1.000000   17.000000   15.000000
max      7.000000    6.000000    4.000000    4.000000   31.000000   31.000000

              HST         AST          HF          AF  ...    AvgC<2.5  \
count  380.000000  380.000000  380.000000  380.000000  ...  380.000000
mean     4.678947    4.142105   10.055263   10.157895  ...    2.070053
std      2.600402    2.589978    3.444180    3.718501  ...    0.404372
min      0.000000    0.000000    1.000000    2.000000  ...    1.480000
25%      3.000000    2.000000    8.000000    7.000000  ...    1.780000
50%      4.000000    4.000000   10.000000   10.000000  ...    1.990000
75%      6.000000    6.000000   12.000000   12.250000  ...    2.230000
max     15.000000   14.000000   22.000000   25.000000  ...    3.780000

             AHCh    B365CAHH    B365CAHA       PCAHH       PCAHA     MaxCAHH  \
count  380.000000  379.000000  379.000000  380.000000  380.000000  380.000000
mean    -0.248026    1.933193    1.966069    1.951105    1.975447    2.021211
std      0.950713    0.104168    0.099308    0.105294    0.106912    0.113965
min     -2.750000    1.650000    1.700000    1.660000    1.720000    1.800000
25%     -0.750000    1.855000    1.900000    1.870000    1.907500    1.940000
50%     -0.250000    1.940000    1.970000    1.950000    1.970000    2.010000
75%      0.250000    2.020000    2.050000    2.020000    2.050000    2.100000
max      2.500000    2.150000    2.200000    2.260000    2.380000    2.850000

          MaxCAHA     AvgCAHH     AvgCAHA
count  380.000000  380.000000  380.000000
mean     2.054711    1.926868    1.958500
std      0.111772    0.093221    0.094822
min      1.820000    1.700000    1.750000
25%      1.960000    1.850000    1.890000
50%      2.050000    1.925000    1.955000
75%      2.140000    2.000000    2.040000
max      2.520000    2.150000    2.230000

[8 rows x 98 columns]

Valores nulos por columna:
Div         0
Date        0
Time        0
HomeTeam    0
AwayTeam    0
           ..
PCAHA       0
MaxCAHH     0
MaxCAHA     0
AvgCAHH     0
AvgCAHA     0
Length: 106, dtype: int64

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
count,380,380,380,380,380,380.000000,380.000000,380,380.000000,380.000000,...,380.000000,380.000000,379.000000,379.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
unique,1,123,14,20,20,NaN,NaN,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,E0,22/05/2022,15:00,Brentford,Arsenal,NaN,NaN,H,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,380,10,118,19,19,NaN,NaN,163,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,1.513158,1.305263,NaN,0.681579,0.589474,...,2.070053,-0.248026,1.933193,1.966069,1.951105,1.975447,2.021211,2.054711,1.926868,1.958500
std,NaN,NaN,NaN,NaN,NaN,1.326545,1.258836,NaN,0.832187,0.808853,...,0.404372,0.950713,0.104168,0.099308,0.105294,0.106912,0.113965,0.111772,0.093221,0.094822
min,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000,...,1.480000,-2.750000,1.650000,1.700000,1.660000,1.720000,1.800000,1.820000,1.700000,1.750000
25%,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,0.000000,0.000000,...,1.780000,-0.750000,1.855000,1.900000,1.870000,1.907500,1.940000,1.960000,1.850000,1.890000
50%,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,0.000000,0.000000,...,1.990000,-0.250000,1.940000,1.970000,1.950000,1.970000,2.010000,2.050000,1.925000,1.955000
75%,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,NaN,1.000000,1.000000,...,2.230000,0.250000,2.020000,2.050000,2.020000,2.050000,2.100000,2.140000,2.000000,2.040000
max,NaN,NaN,NaN,NaN,NaN,7.000000,6.000000,NaN,4.000000,4.000000,...,3.780000,2.500000,2.150000,2.200000,2.260000,2.380000,2.850000,2.520000,2.150000,2.230000

In [21]:
#rename columns
df_premier21.rename(columns = {'Date': 'date', 'HomeTeam': 'homeTeam', 'AwayTeam': 'away_team', 'FTHG': 'home_goals', 'FTAG': 'away_goals'}, inplace = True)

In [22]:
df_premier21.head()

,Div,date,Time,homeTeam,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86


https://www.football-data.co.uk/mmz4281/2122/E0.csv

estrucutar el lik 
"https://www.football-data.co.uk/mmz4281/"+"2122"+"/"+"E0"+".csv"

In [24]:
root_url="https://www.football-data.co.uk/mmz4281/"

In [26]:
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames=[]

for league in leagues:
    df = pd.read_csv(root_url+ "2122"+"/" + league + ".csv",encoding='unicode-escape')
    frames.append(df)

frames

[    Div        Date   Time        HomeTeam        AwayTeam  FTHG  FTAG FTR  \
 0    E0  13/08/2021  20:00       Brentford         Arsenal     2     0   H
 1    E0  14/08/2021  12:30      Man United           Leeds     5     1   H
 2    E0  14/08/2021  15:00         Burnley        Brighton     1     2   A
 3    E0  14/08/2021  15:00         Chelsea  Crystal Palace     3     0   H
 4    E0  14/08/2021  15:00         Everton     Southampton     3     1   H
 ..   ..         ...    ...             ...             ...   ...   ...  ..
 375  E0  22/05/2022  16:00  Crystal Palace      Man United     1     0   H
 376  E0  22/05/2022  16:00       Leicester     Southampton     4     1   H
 377  E0  22/05/2022  16:00       Liverpool          Wolves     3     1   H
 378  E0  22/05/2022  16:00        Man City     Aston Villa     3     2   H
 379  E0  22/05/2022  16:00         Norwich       Tottenham     0     5   A

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0       1     0  ...     1.62  0.50      1.75      2.05   1.81   2.13
 1       1     0  ...     2.25 -1.00      2.05      1.75   2.17   1.77
 2       1     0  ...     1.62  0.25      1.79      2.15   1.81   2.14
 3       2     0  ...     1.94 -1.50      2.05      1.75   2.12   1.81
 4       0     1  ...     1.67 -0.50      2.05      1.88   2.05   1.88
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 375     1     0  ...     2.04  0.25      1.68      2.15   1.74   2.23
 376     0     0  ...     2.63 -0.75      1.83      2.07   1.88   2.03
 377     1     1  ...     3.28 -2.50      2.02      1.77   2.06   1.83
 378     0     1  ...     3.36 -2.25      2.06      1.84   2.05   1.86
 379     0     2  ...     2.40  1.50      1.95      1.95   1.96   1.94

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0       2.05     2.17     1.80     2.09
 1       2.19     1.93     2.10     1.79
 2       1.82     2.19     1.79     2.12
 3       2.16     1.93     2.06     1.82
 4       2.08     1.90     2.03     1.86
 ..       ...      ...      ...      ...
 375     1.88     2.25     1.74     2.16
 376     1.94     2.26     1.87     2.01
 377     2.19     1.99     2.07     1.80
 378     2.09     2.03     2.01     1.87
 379     2.16     1.98     1.99     1.89

 [380 rows x 106 columns],
     Div        Date   Time          HomeTeam       AwayTeam  FTHG  FTAG FTR  \
 0    E1  06/08/2021  19:45       Bournemouth      West Brom     2     2   D
 1    E1  07/08/2021  15:00         Blackburn        Swansea     2     1   H
 2    E1  07/08/2021  15:00      Bristol City      Blackpool     1     1   D
 3    E1  07/08/2021  15:00           Cardiff       Barnsley     1     1   D
 4    E1  07/08/2021  15:00             Derby   Huddersfield     1     1   D
 ..   ..         ...    ...               ...            ...   ...   ...  ..
 547  E1  07/05/2022  12:30           Preston  Middlesbrough     4     1   H
 548  E1  07/05/2022  12:30  Sheffield United         Fulham     4     0   H
 549  E1  07/05/2022  12:30             Stoke       Coventry     1     1   D
 550  E1  07/05/2022  12:30           Swansea            QPR     0     1   A
 551  E1  07/05/2022  12:30         West Brom       Barnsley     4     0   H

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0       1     1  ...     1.84 -0.25      2.13      1.78   2.13   1.80
 1       1     0  ...     1.70 -0.25      1.77      2.14   1.83   2.09
 2       1     0  ...     1.66 -0.25      1.90      2.00   1.92   1.99
 3       0     0  ...     1.62 -0.25      2.05      1.75   2.14   1.80
 4       1     1  ...     1.60 -0.25      1.88      2.02   1.88   2.01
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 547     2     0  ...     2.15  0.75      1.84      2.06   1.88   2.03
 548     3     0  ...     2.09 -0.25      1.75      2.05   1.79   2.12
 549     1     1  ...     2.15 -0.25      1.91      1.99   1.95   1.95
 550     0     0  ...     2.71 -0.50      1.92      1.98   1.94   1.96
 551     2     0  ...     2.67 -1.75      1.88      2.02   1.91   1.98

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0       2.16     1.83     2.09     1.77
 1       1.87     2.17     1.81     2.04
 2       1.92     2.01     1.89     1.95
 3       2.19     1.80     2.11     1.75
 4       1.90     2.07     1.87     1.98
 ..       ...      ...      ...      ...
 547     2.00     2.09     1.89     1.96
 548     1.85     2.13     1.81     2.03
 549     1.95     2.01     1.90     1.95
 550     2.00     1.99     1.95     1.90
 551     1.99     2.06     1.90     1.95

 [552 rows x 106 columns],
     Div        Date   Time        HomeTeam            AwayTeam  FTHG  FTAG  \
 0    E2  07/08/2021  15:00          Bolton  Milton Keynes Dons     3     3
 1    E2  07/08/2021  15:00       Cambridge              Oxford     1     1
 2    E2  07/08/2021  15:00           Crewe          Cheltenham     1     1
 3    E2  07/08/2021  15:00       Doncaster       AFC Wimbledon     1     2
 4    E2  07/08/2021  15:00  Fleetwood Town          Portsmouth     0     1
 ..   ..         ...    ...             ...                 ...   ...   ...
 547  E2  30/04/2022  12:30       Morecambe          Sunderland     0     1
 548  E2  30/04/2022  12:30          Oxford           Doncaster     1     1
 549  E2  30/04/2022  12:30        Plymouth  Milton Keynes Dons     0     5
 550  E2  30/04/2022  12:30  Sheffield Weds          Portsmouth     4     1
 551  E2  30/04/2022  12:30      Shrewsbury               Wigan     0     3

     FTR  HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0     D     1     1  ...     1.97 -0.25      1.90      1.95   1.91   1.97
 1     D     0     1  ...     1.86  0.25      2.08      1.73   2.12   1.78
 2     D     1     1  ...     1.69 -0.25      2.00      1.85   1.99   1.90
 3     A     0     0  ...     1.88 -0.25      2.10      1.77   2.11   1.80
 4     A     0     0  ...     1.60  0.00      2.05      1.80   2.09   1.82
 ..   ..   ...   ...  ...      ...   ...       ...       ...    ...    ...
 547   A     0     1  ...     2.09  0.75      2.05      1.80   2.05   1.84
 548   D     1     0  ...     3.05 -1.50      1.90      1.95   1.96   1.93
 549   A     0     3  ...     1.94  0.25      1.83      2.02   1.81   2.09
 550   H     3     1  ...     2.04 -1.00      1.73      2.15   1.76   2.14
 551   A     0     1  ...     1.73  0.50      1.95      1.90   1.97   1.92

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0       1.99     2.01     1.90     1.92
 1       2.12     1.82     2.06     1.77
 2       2.04     1.95     1.96     1.87
 3       2.12     1.82     2.07     1.77
 4       2.13     1.86     2.07     1.78
 ..       ...      ...      ...      ...
 547     2.09     1.86     2.02     1.81
 548     2.00     1.99     1.92     1.88
 549     1.88     2.09     1.81     2.02
 550     1.90     2.21     1.77     2.07
 551     2.02     1.94     1.94     1.87

 [552 rows x 106 columns],
     Div        Date   Time        HomeTeam      AwayTeam  FTHG  FTAG FTR  \
 0    E3  07/08/2021  15:00        Carlisle    Colchester     0     0   D
 1    E3  07/08/2021  15:00          Exeter      Bradford     0     0   D
 2    E3  07/08/2021  15:00    Forest Green        Sutton     2     1   H
 3    E3  07/08/2021  15:00       Harrogate      Rochdale     3     2   H
 4    E3  07/08/2021  15:00      Hartlepool  Crawley Town     1     0   H
 ..   ..         ...    ...             ...           ...   ...   ...  ..
 547  E3  07/05/2022  15:00       Mansfield  Forest Green     2     2   D
 548  E3  07/05/2022  15:00  Newport County      Rochdale     0     2   A
 549  E3  07/05/2022  15:00          Oldham  Crawley Town     3     3   D
 550  E3  07/05/2022  15:00       Stevenage       Salford     4     2   H
 551  E3  07/05/2022  15:00         Walsall       Swindon     0     3   A

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0       0     0  ...     1.57 -0.25      1.75      2.05   1.78   2.13
 1       0     0  ...     1.65  0.00      1.80      2.05   1.79   2.12
 2       1     0  ...     1.60 -0.25      1.98      1.83   1.93   1.95
 3       2     1  ...     1.78 -0.25      1.90      1.95   1.90   1.98
 4       0     0  ...     1.68 -0.25      1.90      1.95   1.93   1.95
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 547     1     0  ...     2.07 -0.25      1.80      2.05   1.84   2.06
 548     0     1  ...     2.21 -0.50      1.88      1.98   1.88   2.02
 549     2     2  ...     2.30  0.00      1.90      1.95   1.89   2.00
 550     2     1  ...     2.01  0.00      1.85      2.00   1.88   2.01
 551     0     3  ...     2.07  0.75      1.98      1.88   1.97   1.92

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0       1.82     2.13     1.75     2.08
 1       1.87     2.12     1.80     2.03
 2       2.03     1.99     1.91     1.90
 3       1.94     1.98     1.88     1.94
 4       1.96     1.98     1.90     1.91
 ..       ...      ...      ...      ...
 547     1.91     2.06     1.85     1.97
 548     1.96     2.02     1.90     1.91
 549     1.99     2.02     1.91     1.91
 550     1.97     2.04     1.89     1.92
 551     2.02     1.98     1.91     1.91

 [552 rows x 106 columns],
     Div        Date   Time        HomeTeam      AwayTeam  FTHG  FTAG FTR  \
 0    EC  21/08/2021  15:00       Aldershot  Chesterfield     0     2   A
 1    EC  21/08/2021  15:00          Barnet  Notts County     0     5   A
 2    EC  21/08/2021  15:00         Halifax    Maidenhead     1     2   A
 3    EC  21/08/2021  15:00     Kings Lynn      Southend     0     1   A
 4    EC  21/08/2021  15:00        Solihull       Wrexham     2     2   D
 ..   ..         ...    ...             ...           ...   ...   ...  ..
 501  EC  15/05/2022  15:00  Dover Athletic      Weymouth     1     2   A
 502  EC  15/05/2022  15:00       Eastleigh       Grimsby     4     4   D
 503  EC  15/05/2022  15:00      Maidenhead  Notts County     0     1   A
 504  EC  15/05/2022  15:00        Southend       Torquay     1     1   D
 505  EC  15/05/2022  15:00       Stockport       Halifax     2     0   H

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0       0     0  ...     1.93  0.50      1.98      1.83   2.03   1.83
 1       0     0  ...     2.06  0.75      1.88      1.93   1.90   1.95
 2       1     0  ...     1.94 -0.50      1.93      1.88   1.99   1.87
 3       0     1  ...     1.91  0.25      1.75      2.05   1.81   2.06
 4       1     2  ...     1.85  0.00      2.05      1.75   1.93   1.92
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 501     0     1  ...     2.50  0.25      1.88      1.93   1.87   1.98
 502     0     2  ...     2.30  0.50      1.88      1.93   1.88   1.98
 503     0     0  ...     2.42  0.50      1.95      1.85   2.03   1.83
 504     0     1  ...     2.01 -0.25      2.02      1.77   2.03   1.83
 505     1     0  ...     1.97 -0.75      1.80      2.00   1.79   2.08

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0       2.05     1.90     1.97     1.80
 1       2.00     1.95     1.90     1.88
 2       2.03     1.93     1.94     1.84
 3       1.90     2.11     1.76     2.02
 4       2.05     1.98     1.92     1.86
 ..       ...      ...      ...      ...
 501     1.90     1.98     1.85     1.93
 502     1.95     1.98     1.87     1.90
 503     2.03     1.96     1.92     1.87
 504     2.07     1.85     2.00     1.80
 505     1.93     2.08     1.84     1.95

 [506 rows x 98 columns]]

In [28]:
len(frames)

5

In [33]:
frames[4]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,EC,21/08/2021,15:00,Aldershot,Chesterfield,0,2,A,0,0,...,1.93,0.50,1.98,1.83,2.03,1.83,2.05,1.90,1.97,1.80
1,EC,21/08/2021,15:00,Barnet,Notts County,0,5,A,0,0,...,2.06,0.75,1.88,1.93,1.90,1.95,2.00,1.95,1.90,1.88
2,EC,21/08/2021,15:00,Halifax,Maidenhead,1,2,A,1,0,...,1.94,-0.50,1.93,1.88,1.99,1.87,2.03,1.93,1.94,1.84
3,EC,21/08/2021,15:00,Kings Lynn,Southend,0,1,A,0,1,...,1.91,0.25,1.75,2.05,1.81,2.06,1.90,2.11,1.76,2.02
4,EC,21/08/2021,15:00,Solihull,Wrexham,2,2,D,1,2,...,1.85,0.00,2.05,1.75,1.93,1.92,2.05,1.98,1.92,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,EC,15/05/2022,15:00,Dover Athletic,Weymouth,1,2,A,0,1,...,2.50,0.25,1.88,1.93,1.87,1.98,1.90,1.98,1.85,1.93
502,EC,15/05/2022,15:00,Eastleigh,Grimsby,4,4,D,0,2,...,2.30,0.50,1.88,1.93,1.88,1.98,1.95,1.98,1.87,1.90
503,EC,15/05/2022,15:00,Maidenhead,Notts County,0,1,A,0,0,...,2.42,0.50,1.95,1.85,2.03,1.83,2.03,1.96,1.92,1.87
504,EC,15/05/2022,15:00,Southend,Torquay,1,1,D,0,1,...,2.01,-0.25,2.02,1.77,2.03,1.83,2.07,1.85,2.00,1.80
505,EC,15/05/2022,15:00,Stockport,Halifax,2,0,H,1,0,...,1.97,-0.75,1.80,2.00,1.79,2.08,1.93,2.08,1.84,1.95

In [35]:
#Hacer lo mismo pero con multiples temporadas
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames=[]

for league in leagues:
    for temporada in range(15,21):
        df = pd.read_csv(root_url+ str(temporada)+str(temporada+1)+"/" + league + ".csv",encoding='unicode-escape')
        df.insert(1, "Temporada", temporada)
        frames.append(df)
len(frames)

30

In [40]:
frames[29]

,Div,Temporada,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,EC,20,03/10/2020,15:00,Altrincham,Weymouth,0,0,D,0,...,1.87,-0.50,1.88,1.93,1.93,1.95,1.94,1.95,1.90,1.90
1,EC,20,03/10/2020,15:00,Barnet,Eastleigh,1,5,A,1,...,1.81,0.00,1.83,1.98,1.84,2.06,1.88,2.10,1.80,2.03
2,EC,20,03/10/2020,15:00,Dover Athletic,Notts County,1,0,H,0,...,1.86,0.75,1.85,1.95,1.88,2.01,1.92,2.02,1.83,1.98
3,EC,20,03/10/2020,15:00,Halifax,Dag and Red,2,0,H,1,...,1.67,0.00,2.05,1.75,2.10,1.78,2.10,1.83,2.05,1.77
4,EC,20,03/10/2020,15:00,Hartlepool,Aldershot,2,1,H,1,...,1.85,-0.75,2.02,1.77,2.10,1.79,2.10,1.82,2.05,1.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,EC,20,29/05/2021,12:30,Hartlepool,Weymouth,4,0,H,2,...,2.50,-1.75,1.77,2.02,1.83,2.01,1.86,2.06,1.80,1.99
473,EC,20,29/05/2021,12:30,Kings Lynn,Aldershot,4,4,D,1,...,2.63,-0.25,1.90,1.90,1.93,1.92,1.98,1.96,1.91,1.87
474,EC,20,29/05/2021,12:30,Solihull,Eastleigh,2,0,H,2,...,1.95,0.25,1.93,1.88,1.96,1.89,1.98,1.93,1.92,1.87
475,EC,20,29/05/2021,12:30,Woking,Wealdstone,2,4,A,1,...,2.68,-0.75,1.85,1.95,1.91,1.94,1.93,2.02,1.87,1.91
476,EC,20,29/05/2021,12:30,Yeovil,Stockport,0,1,A,0,...,2.38,1.25,1.85,1.95,1.89,1.96,1.97,2.00,1.88,1.89

In [41]:
dict_country_leagues     = {
'Spanish La Liga': 'SP1', 'Spanish Segunda Division': 'SP2',
'German Bundesliga': 'D1',
'English Premier League': 'E0', 'English League 1': 'E2', 'English League 3': 'E3',
'English Lueague Conference':'EC'}

In [42]:
dict_country_leagues['Spanish La Liga']

'SP1'

In [44]:
for league in dict_country_leagues:
    print(dict_country_leagues[league])

SP1
SP2
D1
E0
E2
E3
EC

In [52]:
dict_hist_data = {}

#Hacer lo mismo pero con multiples temporadas
#leagues = ['E0', 'E1', 'E2', 'E3', 'EC']

for league in dict_country_leagues:
    frames=[]
    for temporada in range(15,21):
        print("descargando ..."+root_url+ str(temporada)+str(temporada+1)+"/" + dict_country_leagues[league] + ".csv")
        df = pd.read_csv(root_url+ str(temporada)+str(temporada+1)+"/" + dict_country_leagues[league] + ".csv",encoding='unicode-escape')
        df.insert(1, "Temporada", temporada)
        frames.append(df)
    df_concat =pd.concat(frames)
    dict_hist_data[league] = df_concat

descargando ...https://www.football-data.co.uk/mmz4281/1516/SP1.csv
descargando ...https://www.football-data.co.uk/mmz4281/1617/SP1.csv
descargando ...https://www.football-data.co.uk/mmz4281/1718/SP1.csv
descargando ...https://www.football-data.co.uk/mmz4281/1819/SP1.csv
descargando ...https://www.football-data.co.uk/mmz4281/1920/SP1.csv
descargando ...https://www.football-data.co.uk/mmz4281/2021/SP1.csv
descargando ...https://www.football-data.co.uk/mmz4281/1516/SP2.csv
descargando ...https://www.football-data.co.uk/mmz4281/1617/SP2.csv
descargando ...https://www.football-data.co.uk/mmz4281/1718/SP2.csv
descargando ...https://www.football-data.co.uk/mmz4281/1819/SP2.csv
descargando ...https://www.football-data.co.uk/mmz4281/1920/SP2.csv
descargando ...https://www.football-data.co.uk/mmz4281/2021/SP2.csv
descargando ...https://www.football-data.co.uk/mmz4281/1516/D1.csv
descargando ...https://www.football-data.co.uk/mmz4281/1617/D1.csv
descargando ...https://www.football-data.co.uk/mmz4281/1718/D1.csv
descargando ...https://www.football-data.co.uk/mmz4281/1819/D1.csv
descargando ...https://www.football-data.co.uk/mmz4281/1920/D1.csv
descargando ...https://www.football-data.co.uk/mmz4281/2021/D1.csv
descargando ...https://www.football-data.co.uk/mmz4281/1516/E0.csv
descargando ...https://www.football-data.co.uk/mmz4281/1617/E0.csv
descargando ...https://www.football-data.co.uk/mmz4281/1718/E0.csv
descargando ...https://www.football-data.co.uk/mmz4281/1819/E0.csv
descargando ...https://www.football-data.co.uk/mmz4281/1920/E0.csv
descargando ...https://www.football-data.co.uk/mmz4281/2021/E0.csv
descargando ...https://www.football-data.co.uk/mmz4281/1516/E2.csv
descargando ...https://www.football-data.co.uk/mmz4281/1617/E2.csv
descargando ...https://www.football-data.co.uk/mmz4281/1718/E2.csv
descargando ...https://www.football-data.co.uk/mmz4281/1819/E2.csv
descargando ...https://www.football-data.co.uk/mmz4281/1920/E2.csv
descargando ...https://www.football-data.co.uk/mmz4281/2021/E2.csv
descargando ...https://www.football-data.co.uk/mmz4281/1516/E3.csv
descargando ...https://www.football-data.co.uk/mmz4281/1617/E3.csv
descargando ...https://www.football-data.co.uk/mmz4281/1718/E3.csv
descargando ...https://www.football-data.co.uk/mmz4281/1819/E3.csv
descargando ...https://www.football-data.co.uk/mmz4281/1920/E3.csv
descargando ...https://www.football-data.co.uk/mmz4281/2021/E3.csv
descargando ...https://www.football-data.co.uk/mmz4281/1516/EC.csv
descargando ...https://www.football-data.co.uk/mmz4281/1617/EC.csv
descargando ...https://www.football-data.co.uk/mmz4281/1718/EC.csv
descargando ...https://www.football-data.co.uk/mmz4281/1819/EC.csv
descargando ...https://www.football-data.co.uk/mmz4281/1920/EC.csv
descargando ...https://www.football-data.co.uk/mmz4281/2021/EC.csv

In [56]:
#dict_hist_data['English Premier League']
#del dict_hist_data
print("\nDataFrames descargados:........")
for key,df in dict_hist_data.items():
    print(f"{key}: {df.shape[0]} rows")

DataFrames descargados:........
Spanish La Liga: 2280 rows
Spanish Segunda Division: 2772 rows
German Bundesliga: 1836 rows
English Premier League: 2280 rows
English League 1: 3161 rows
English League 3: 3201 rows
English Lueague Conference: 3136 rows

In [ ]:
Filtrar DF basado en una condicion

In [ ]:
import pandas as pd
df_laptops= pd.read_csv("laptop_price.csv",encoding="unicode-escape")
df_laptops.info()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [21]:
df_laptops[df_laptops['Company']== "Apple"].value_counts('Company')

Company
Apple    21
Name: count, dtype: int64

In [ ]:
df_excel = pd.read_excel("https://docs.google.com/uc?export=download&id=1RjyFp3seXXSwjJMVwT6FBs3lNniDxsNN", index_col="ID_Producto")

In [24]:
df_excel.head()

                                      Producto  Cantidad  Precio
ID_Producto
SKU1                             Xbox Series X        65  500000
SKU4         Teclado mecánico Razer BlackWidow       130  250000
SKU7                   Monitor Gaming Asus 27"        45  750000
SKU11               Robot aspirador Roomba 960        30  450000
SKU26                        Kindle Paperwhite       150  200000

In [25]:
# Promedio
df_excel.Precio.mean()

np.float64(588333.3333333334)

In [26]:

# Tambien funciona asi:
df_excel["Precio"].mean()

np.float64(588333.3333333334)

In [28]:
# Contar por tipo
print(df_excel.Producto.value_counts())

Producto
Xbox Series X                               1
Teclado mecánico Razer BlackWidow           1
Monitor Gaming Asus 27"                     1
Robot aspirador Roomba 960                  1
Kindle Paperwhite                           1
Cámara de acción Insta360 One X2            1
Cafetera Nespresso Vertuo                   1
Nintendo Switch                             1
PlayStation 5                               1
Reloj Inteligente Apple Watch Series 6      1
GoPro HERO9                                 1
AirPods Pro                                 1
Gafas de realidad virtual Oculus Quest 2    1
Garmin Fenix 6 Pro                          1
Refrigerador Samsung Smart                  1
Samsung Galaxy S21                          1
Laptop Dell XPS 15                          1
iPad Pro 12.9                               1
Smartwatch Samsung Galaxy Watch 3           1
Mochila antirrobo XD Design                 1
Auriculares Sony WH-1000XM4                 1
Microondas inteligente Panasonic            1
Silla gaming DXRacer                        1
Drone DJI Mavic Air 2                       1
iPhone 13                                   1
Bose QuietComfort 35 II                     1
Bicicleta eléctrica Xiaomi                  1
Cámara Canon EOS Rebel T7                   1
Smart TV LG OLED 55"                        1
Consola Retro Sega Genesis                  1
Name: count, dtype: int64

In [29]:
df_excel[df_excel["Cantidad"] > 100]

                                      Producto  Cantidad  Precio
ID_Producto
SKU4         Teclado mecánico Razer BlackWidow       130  250000
SKU26                        Kindle Paperwhite       150  200000
SKU98                              AirPods Pro       120  250000
SKU162             Mochila antirrobo XD Design       150  180000
SKU196              Consola Retro Sega Genesis       110  120000

In [30]:
df_excel[(df_excel["Cantidad"] > 100) & (df_excel["Precio"] < 200000)]

                                Producto  Cantidad  Precio
ID_Producto
SKU162       Mochila antirrobo XD Design       150  180000
SKU196        Consola Retro Sega Genesis       110  120000

In [31]:
df_excel.sort_values(by="Precio", ascending=False).head(5)

                               Producto  Cantidad   Precio
ID_Producto
SKU126       Refrigerador Samsung Smart        25  2000000
SKU191             Smart TV LG OLED 55"        40  1500000
SKU134               Laptop Dell XPS 15        40  1200000
SKU154                    iPad Pro 12.9        60  1050000
SKU172                        iPhone 13       100   990000

In [32]:
df_artistas = pd.read_excel("https://docs.google.com/uc?export=download&id=1bqVTtpAF50QSlrtB6DjfeHx1w9UKT7O3")
df_artistas

        Artista  Spotify streams (millones)
0  Taylor Swift                     29100.0
1     Bad Bunny                     16370.0
2    The Weeknd                     14140.0
3         Drake                     14030.0
4    Peso Pluma                     10540.0
5          Feid                         NaN

In [33]:
df_artistas.isna().sum()

Artista                       0
Spotify streams (millones)    1
dtype: int64

In [34]:
# Generamos la columna
df_excel["ValorInventario"] = df_excel.Cantidad * df_excel.Precio

# Desplegamos el cambio, con solo los 3 primeros productos
df_excel.head(3)

,Producto,Cantidad,Precio,ValorInventario
ID_Producto,,,,
SKU1,Xbox Series X,65,500000,32500000
SKU4,Teclado mecánico Razer BlackWidow,130,250000,32500000
SKU7,"Monitor Gaming Asus 27""",45,750000,33750000

In [1]:
import pandas as pd
df_laptops= pd.read_csv("laptop_price.csv",encoding="unicode-escape")
df_laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

In [5]:
df_laptops["Company"] != "HP"

0        True
1        True
2       False
3        True
4        True
        ...
1298     True
1299     True
1300     True
1301    False
1302     True
Name: Company, Length: 1303, dtype: bool

In [16]:
df_laptops[df_laptops["Company"] != "HP"]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
5,6,Acer,Aspire 3,Notebook,15.6,1366x768,AMD A9-Series 9420 3GHz,4GB,500GB HDD,AMD Radeon R5,Windows 10,2.1kg,400.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1297,1315,Asus,X556UJ-XO044T (i7-6500U/4GB/500GB/GeForce,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,4GB,500GB HDD,Nvidia GeForce 920M,Windows 10,2.2kg,720.32
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

In [14]:
df_laptops[df_laptops['Company'] != 'HP'].count().value_counts('Company')

1029    1.0
Name: proportion, dtype: float64

In [18]:
df_laptops[df_laptops["Price_euros"] >2000]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97
12,13,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.8GHz,16GB,256GB SSD,AMD Radeon Pro 555,macOS,1.83kg,2439.97
17,18,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16GB,512GB SSD,AMD Radeon Pro 560,macOS,1.83kg,2858.00
58,59,MSI,GS73VR 7RG,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 2TB HDD,Nvidia GeForce GTX 1070,Windows 10,2.43kg,2449.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,1221,Dell,XPS 13,Ultrabook,13.3,Quad HD+ / Touchscreen 3200x1800,Intel Core i7 7500U 2.7GHz,16GB,512GB SSD,Intel HD Graphics 620,Windows 10,1.2kg,2680.00
1209,1227,Asus,Rog Strix,Gaming,15.6,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,2.2kg,2449.00
1231,1249,Razer,Blade Pro,Gaming,14.0,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,1TB SSD,Nvidia GeForce GTX 1060,Windows 10,1.95kg,3499.00
1236,1254,HP,EliteBook 840,Ultrabook,14.0,2560x1440,Intel Core i7 6500U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 7,1.54kg,2198.19
1247,1265,Asus,Rog GL502VS,Gaming,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,2.34kg,2325.00

In [ ]:

import numpy as np

In [21]:
#np.where(df_laptops['Price_euros'] > 2000, 'Expensive', 'Cheap')

df_laptops['price_tier'] = np.where(df_laptops['Price_euros'] > 2000, 'Expensive', 'Cheap')
#df_laptops['Price_euros'] > 2000

df_laptops

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,price_tier
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Cheap
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Cheap
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Cheap
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Cheap
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00,Cheap
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00,Cheap
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00,Cheap
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00,Cheap
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00,Cheap

In [26]:
df_laptops.value_counts(['Product','TypeName'])

Product                         TypeName
Inspiron 3567                   Notebook     29
XPS 13                          Ultrabook    25
250 G6                          Notebook     20
Legion Y520-15IKBN              Gaming       19
Vostro 3568                     Notebook     19
                                             ..
Zenbook UX330UA-AH5Q            Ultrabook     1
Zenbook UX390UA                 Ultrabook     1
Zenbook UX410UA-GV027T          Notebook      1
Zenbook UX430UA                 Ultrabook     1
14-am079na (N3710/8GB/2TB/W10)  Notebook      1
Name: count, Length: 660, dtype: int64

In [28]:
laptops_grandes = df_laptops[df_laptops['Inches'] > 15]
print(laptops_grandes)

print(f"\nNúmero de laptops con pantalla > 15 pulgadas: {laptops_grandes.shape[0]}")

      laptop_ID Company                                    Product   TypeName  \
2             3      HP                                     250 G6   Notebook
3             4   Apple                                MacBook Pro  Ultrabook
5             6    Acer                                   Aspire 3   Notebook
6             7   Apple                                MacBook Pro  Ultrabook
10           11      HP                                     250 G6   Notebook
...         ...     ...                                        ...        ...
1294       1312      HP                        Pavilion 15-AW003nv   Notebook
1295       1313    Dell                              Inspiron 3567   Notebook
1297       1315    Asus  X556UJ-XO044T (i7-6500U/4GB/500GB/GeForce   Notebook
1301       1319      HP        15-AC110nv (i7-6500U/6GB/1TB/Radeon   Notebook
1302       1320    Asus        X553SA-XX031T (N3050/4GB/500GB/W10)   Notebook

      Inches                    ScreenResolution  \
2       15.6                   Full HD 1920x1080
3       15.4  IPS Panel Retina Display 2880x1800
5       15.6                            1366x768
6       15.4  IPS Panel Retina Display 2880x1800
10      15.6                            1366x768
...      ...                                 ...
1294    15.6                   Full HD 1920x1080
1295    15.6                            1366x768
1297    15.6                            1366x768
1301    15.6                            1366x768
1302    15.6                            1366x768

                                       Cpu   Ram               Memory  \
2               Intel Core i5 7200U 2.5GHz   8GB            256GB SSD
3                     Intel Core i7 2.7GHz  16GB            512GB SSD
5                  AMD A9-Series 9420 3GHz   4GB            500GB HDD
6                     Intel Core i7 2.2GHz  16GB  256GB Flash Storage
10              Intel Core i5 7200U 2.5GHz   4GB            500GB HDD
...                                    ...   ...                  ...
1294             AMD A9-Series 9410 2.9GHz   6GB         1.0TB Hybrid
1295            Intel Core i7 7500U 2.7GHz   8GB              1TB HDD
1297            Intel Core i7 6500U 2.5GHz   4GB            500GB HDD
1301            Intel Core i7 6500U 2.5GHz   6GB              1TB HDD
1302  Intel Celeron Dual Core N3050 1.6GHz   4GB            500GB HDD

                          Gpu       OpSys  Weight  Price_euros price_tier
2       Intel HD Graphics 620       No OS  1.86kg       575.00      Cheap
3          AMD Radeon Pro 455       macOS  1.83kg      2537.45  Expensive
5               AMD Radeon R5  Windows 10   2.1kg       400.00      Cheap
6     Intel Iris Pro Graphics    Mac OS X  2.04kg      2139.97  Expensive
10      Intel HD Graphics 620       No OS  1.86kg       393.90      Cheap
...                       ...         ...     ...          ...        ...
1294       AMD Radeon R7 M440  Windows 10  2.04kg       549.99      Cheap
1295       AMD Radeon R5 M430       Linux   2.3kg       805.99      Cheap
1297      Nvidia GeForce 920M  Windows 10   2.2kg       720.32      Cheap
1301       AMD Radeon R5 M330  Windows 10  2.19kg       764.00      Cheap
1302        Intel HD Graphics  Windows 10   2.2kg       369.00      Cheap

[835 rows x 14 columns]

Número de laptops con pantalla > 15 pulgadas: 835

In [36]:
df_laptops['Inches'].value_counts().sort_index(ascending=False)

Inches
18.4      1
17.3    164
17.0      1
15.6    665
15.4      4
15.0      4
14.1      1
14.0    197
13.9      6
13.5      6
13.3    164
13.0      2
12.5     39
12.3      5
12.0      6
11.6     33
11.3      1
10.1      4
Name: count, dtype: int64

In [38]:
np.where(df_laptops['Inches'] > 15, 'Large', 'Small')

array(['Small', 'Small', 'Large', ..., 'Small', 'Large', 'Large'],
      shape=(1303,), dtype='<U5')

In [41]:
df_laptops['Screen_Size'] = np.where(df_laptops['Inches'] > 15, 'Large', 'Small')
df_laptops.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,price_tier,Screen_Size
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Cheap,Small
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Cheap,Small
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Cheap,Large
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive,Large
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Cheap,Small

In [43]:
df_laptops.value_counts('Screen_Size')

Screen_Size
Large    835
Small    468
Name: count, dtype: int64

In [45]:
df_laptops[(df_laptops['Company'] == 'Apple') & (df_laptops['Price_euros'] > 2000)]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,price_tier,Screen_Size
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive,Large
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97,Expensive,Large
12,13,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.8GHz,16GB,256GB SSD,AMD Radeon Pro 555,macOS,1.83kg,2439.97,Expensive,Large
17,18,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16GB,512GB SSD,AMD Radeon Pro 560,macOS,1.83kg,2858.00,Expensive,Large
249,254,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,512GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,2040.00,Expensive,Small

In [51]:
df_laptops[(df_laptops['Company']== 'Apple') | (df_laptops["Company"] == 'Dell')]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,price_tier,Screen_Size
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Cheap,Small
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Cheap,Small
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive,Large
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Cheap,Small
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97,Expensive,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278,1296,Dell,Inspiron 3552,Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,500GB HDD,Intel HD Graphics,Windows 10,2.20kg,379.00,Cheap,Large
1281,1299,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,AMD Radeon R5 M430,Linux,2.3kg,805.99,Cheap,Large
1290,1308,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i3 7100U 2.4GHz,6GB,1TB HDD,Intel HD Graphics 620,Windows 10,2.3kg,459.00,Cheap,Large
1292,1310,Dell,Inspiron 3552,Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,500GB HDD,Intel HD Graphics,Windows 10,2.20kg,379.00,Cheap,Large
1295,1313,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,AMD Radeon R5 M430,Linux,2.3kg,805.99,Cheap,Large

In [ ]:
[((df_laptops['Company']== 'Apple') | (df_laptops["Company"] == 'Dell')) & (df_laptops['Price_euros'] > 2000)]